//Bg
$bg-color: #ffffff;
$bg-first: #55B7FF;
$bg-second: #7E5AFF;

$hero-gradient: (243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
$section-gradient: (237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
$footer-gradient: (251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);

//Colors
$text-color: #2C4058;
$text-button: #000000;
$icon-color: #7E5AFF;
$icon-color-hover: #473684; 

// Fonts
$nav-header: 400 14px/1.28 'SourceSansProRegular', sans-serif;
$hero-header: 700 80px/1.22 'MontserratBold', sans-serif;
$hero-text: 400 18px/1.22 'MontserratRegular', sans-serif; //slider-author
$header-section: 700 44px/1.23 'MontserratBold', sans-serif;
$sub-header: 400 22px/1.23 'MontserratRegular', sans-serif;
$text-button: 400 14px/1.21 'MontserratRegular', sans-serif; //slider-data
$slider-header: 700 22px/1.23 'MontserratBold', sans-serif;
$slider-text: 400 18px/1.39 'OpenSansRegular', sans-serif;
$text-section: 400 18px/1.67 'OpenSansRegular', sans-serif;
$text-location: 400 15px/1.33 'OpenSans-Italic', sans-serif; //!!!!!add this font 
$form-text: 400 18px/1.5 'MontserratRegular', sans-serif; //form-button